.customers-container {
  padding: 20px;

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  .search-input-container {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px 40px 10px 10px; // Add padding to the right for the icon
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    color: #777;

    &:hover {
      color: #333;
    }
  }
}

  .no-customers {
    text-align: center;
    color: #777;
    padding: 50px;
    border: 1px dashed #ccc;
    border-radius: 8px;
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;

    th,
    td {
      padding: 0.75rem;
      vertical-align: middle;
      border-top: 1px solid #dee2e6;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      text-align: left;
    }

    tbody + tbody {
      border-top: 2px solid #dee2e6;
    }
  }

  .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: #0056b3;
      }
    }

    span {
      font-size: 1.1em;
      color: #333;
    }
  }
}
